.formulario-campo-texto {
    margin: 24px 0;
}

.formulario-campo-texto label {
    display: block;
    margin-bottom: 8px;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.formulario-campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}